
<!--=================================
inner banner -->
<div class="header-inner bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jobber-user-info">
              <div class="profile-avatar">
                <img class="img-fluid " src="http://localhost:8083/entreprise/files/{{client.logo}}" alt="">
                <i class="fas fa-pencil-alt"></i>
              </div>
              <div class="profile-avatar-info ms-4">
                 <h3>PARTIE ENTREPRISE</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
  inner banner -->
  
  <!--=================================
  Dashboard Nav -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sticky-top secondary-menu-sticky-top">
            <div class="secondary-menu">
              <ul>
                <li><a href="dashboard-employer.html">Dashboard offre</a></li>
              
                <li><a class="active" [routerLink]="['/home/offre']">AJOUT OFFRE</a></li>
                <li><a [routerLink] ="['/home/listoffre']">Liste Offre</a></li>
                <li><a [routerLink] ="['/home/listcandidat']">Manage Candidates</a></li>
                <li><a [routerLink] ="['/home/listcandidature']">candidature</a></li>
                <li><a (click)="logout()">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Dashboard Nav -->
  
  <!--=================================
  Post New Job -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="user-dashboard-info-box">
            <div class="section-title-02 mb-4 d-inline-block">
              <h4>NEW OFFRE</h4>
            </div>
            <div class="row">
              <div class="col-12">
                <form class="row"[formGroup]="offreform">
                  <div class ="form-group mt-0 mb-3 col-md-6">
                    <label class="form-label">title offre</label>
                    <input type="text" class="form-control" value="" formControlName="title">
                  </div>

                  <div class="form-group mt-0 mb-3 col-md-6">
                    <label class="form-label">Salary </label>
                    <input type="text" class="form-control" value="" formControlName="salaire">
                  </div>
                  <div class="form-group mt-0 mb-3 col-md-6">
                    <label class="form-label">description</label>
                    <textarea class="form-control" rows="4" formControlName="description"></textarea>
                  </div>
                  <div class="form-group mt-0 mb-3 col-md-6">
                    <label class="form-label">CATEGORY  :</label>
                    <br>
                    <select class="form-select" id="exampleLastName"  formControlName="category_id">
               
                    <option *ngFor="let category of listcategory" [value]="category.id">{{category.nom}}</option>
               
               </select>
                    </div>
                    <div class="form-group mt-0 mb-3 col-md-6">
                      <label class="form-label">lieu offre  :</label>
                      <br>
                      <select class="form-select" id="exampleLastName"  formControlName="lieu_id">
                 
                      <option *ngFor="let lieu of listelieu" [value]="lieu.id">{{lieu.address_offre}}</option>
                 
                 </select>
                      </div>
                      <div class="form-group mt-0 mb-3 col-md-6">
                        <label class="form-label">type contrat  :</label>
                        <br>
                        <select class="form-select" id="exampleLastName"  formControlName="contrate_id">
                   
                        <option *ngFor="let contrate of listecontrate" [value]="contrate.id">{{contrate.type_contrat}}</option>
                   
                   </select>
                        </div>

                        <div class="form-group mt-0 mb-3 col-md-6">
                          <label class="form-label">entreprise  :</label>
                          <br>
                          <select class="form-select" id="exampleLastName"  formControlName="entreprise_id">
                     
                          <option *ngFor="let entreprise of listeentreprise" [value]="entreprise.id">{{entreprise.username}}</option>
                     
                     </select>
                          </div>
                </form>
              </div>
              
            </div>
          </div>
          <a class="btn btn-lg btn-primary" (click)="addoffre()">Save</a>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Post New Job -->
  
 
 
